*/Видео шапка со ставлением текста 2 слоем */
*,
*::before {
    margin: 0;
    padding: 25;
    box-sizing: border-box;
}
.home {
    width: 100%;
    max-height: 100%;
    background: url(c.png) center/cover no-repeat;
    overflow: hidden;
    position: relative;
}
.home::before{
    content: "";
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.6);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
}
.home_video {
    padding-bottom: 56.25%;
}
.home video {
    position: absolute;
    width: 100%;
    height: auto;
    top: 0;
    left: 0; 
}
.home_content {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
    z-index: 3;
    font-family: sans-serif;
}
.home_content h1 {
    font-size: 50px;
    margin: 0 0 15px;
    text-transform: capitalize;
    font-weight: 400;
    text-align: center;    
}
.borders {
    color: aqua;
}